[Desktop Entry]
Name=Install
Comment=Install this system permanently to your hard disk
Exec=gksu pureos-installer
Icon=/usr/lib/pureos/pureos-installer/icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings

