Source: pureos-base-data
Section: pureos
Priority: important
Maintainer: PureOS GNU/Linux developers <dev@puri.sm>
Build-Depends-Indep: debhelper (>= 9)
Standards-Version: 3.5.9.0

Package: pureos-base-data
Architecture: all
Priority: important
Description: PureOS base metapackage - data files.
 Data files for the pureos-base metapackage.
 .
